@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --breakpoint-xs: 400px;
  --breakpoint-smd:801px;
  --breakpoint-lmd: 850px;
  --breakpoint-xmd: 920px;
}

@layer base {
  body {
    font-family: var(--font-poppins);
  }
}

@layer utilities {
  .container {
    @apply mx-auto w-[85%];
  }
}

@keyframes scroll {
  to {
    transform: translateX(-50%);
  }
}